---
import React from "./icons/React.astro";
import JavaScript from "./icons/JavaScript.astro";
import TypeScript from "./icons/TypeScript.astro";
import Tailwind from "./icons/Tailwind.astro";
import SASS from "./icons/SASS.astro";
import ShadCN from "./icons/ShadCN.astro";
import Git from "./icons/Git.astro";
import Firebase from "./icons/Firebase.astro";
import Supabase from "./icons/Supabase.astro";
import MongoDB from "./icons/MongoDB.astro";
---

<section class="sm:p-15 px-15 py-10">
    <h2 class="font-bold text-3xl sm:text-4xl py-20 text-center"><span class="border-b-6 border-black pb-0.5">skills</span></h2>
    <div class="flex flex-col gap-3 lg:justify-center items-center">
        <div class="flex flex-wrap gap-20 justify-center items-center">
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><React /></div>
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><JavaScript /></div>
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><TypeScript /></div>
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><Tailwind /></div>
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><SASS /></div>
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><ShadCN /></div>
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><Git /></div>
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><Firebase /></div>
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><Supabase /></div>
            <div class="transition-transform duration-300 ease-in-out rounded-xl p-2 cursor-pointer hover:scale-110 hover:-rotate-3"><MongoDB /></div>
        </div>
        <!-- Aquí puedes agregar más contenido si lo deseas -->
    </div>
</section>
